# Credenciales de Turso (necesarias para la BD)
TURSO_DATABASE_URL=libsql://tu-base-de-datos-turso.turso.io
TURSO_AUTH_TOKEN=tu-token-de-turso

# Contraseña del Administrador (se verificará en la API de Vercel)
ADMIN_PASSWORD=admin123
